<?xml version='1.0' encoding='utf-8'?>
<widget id="com.euxton.jqtest" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>JQueryTest</name>
    <description>
        A test for jquery
    </description>
    <author email="phil@euxton.com" href="http://euxton.com">
        PhoneGap Team
    </author>
    <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
    <allow-navigation href="http://*/*" />
    <platform name="android" />		
    <content src="index.html" />
    <access origin="*" />
</widget>
